<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452487146883-dcc7f45sl6jl3nec8ditg88h678ssnue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452487146883-dcc7f45sl6jl3nec8ditg88h678ssnue</string>
	<key>API_KEY</key>
	<string>AIzaSyCIrzRbo-rynF7RD8PMb8pWsQt0FZUKTA4</string>
	<key>GCM_SENDER_ID</key>
	<string>452487146883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gazesport</string>
	<key>PROJECT_ID</key>
	<string>gazesport-b5620</string>
	<key>STORAGE_BUCKET</key>
	<string>gazesport-b5620.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452487146883:ios:cd9960d22ffa251eb7dab6</string>
</dict>
</plist>